@import "tailwindcss";

@theme {
  --font-oswald: "Oswald", "open-sans";
  --font-lato: "Lato", "open-sans";
  --font-kalam: "Kalam", "open-sans";
  --color-arcticmist-50: oklch(99.1% 0.002 247.8);
  --color-arcticmist-100: oklch(97.8% 0.003 247.9);
  --color-arcticmist-200: oklch(95.2% 0.009 242.8);
  --color-arcticmist-300: oklch(92.0% 0.016 245.1);
  --color-arcticmist-400: oklch(85.8% 0.026 250.0);
  --color-arcticmist-500: oklch(78.6% 0.035 253.7);
  --color-arcticmist-600: oklch(69.6% 0.042 261.5);
  --color-arcticmist-700: oklch(60.4% 0.043 261.4);
  --color-arcticmist-800: oklch(50.9% 0.046 263.4);
  --color-arcticmist-900: oklch(41.0% 0.050 265.0);
  --color-arcticmist-950: oklch(31.1% 0.040 266.2);
  --color-charcoaldepths-50: oklch(97.9% 0.002 247.8);
  --color-charcoaldepths-100: oklch(92.4% 0.008 260.7);
  --color-charcoaldepths-200: oklch(81.7% 0.018 256.3);
  --color-charcoaldepths-300: oklch(66.5% 0.026 254.0);
  --color-charcoaldepths-400: oklch(54.0% 0.025 250.4);
  --color-charcoaldepths-500: oklch(42.7% 0.017 248.2);
  --color-charcoaldepths-600: oklch(35.8% 0.012 253.0);
  --color-charcoaldepths-700: oklch(30.0% 0.010 260.7);
  --color-charcoaldepths-800: oklch(24.7% 0.006 258.4);
  --color-charcoaldepths-900: oklch(20.9% 0.006 271.1);
  --color-charcoaldepths-950: oklch(17.2% 0.003 248.0);
  --color-cyberglow-50: oklch(95.9% 0.026 339.4);
  --color-cyberglow-100: oklch(91.9% 0.049 343.0);
  --color-cyberglow-200: oklch(83.0% 0.116 342.5);
  --color-cyberglow-300: oklch(74.3% 0.188 344.8);
  --color-cyberglow-400: oklch(67.9% 0.243 348.0);
  --color-cyberglow-500: oklch(64.1% 0.265 352.3);
  --color-cyberglow-600: oklch(57.8% 0.240 351.6);
  --color-cyberglow-700: oklch(51.1% 0.213 350.5);
  --color-cyberglow-800: oklch(44.0% 0.184 349.1);
  --color-cyberglow-900: oklch(36.6% 0.155 347.0);
  --color-cyberglow-950: oklch(28.7% 0.122 345.9);
}