@import "tailwindcss";

@theme {
  --font-oswald: "Oswald", "open-sans";
  --font-lato: "Lato", "open-sans";
  --font-kalam: "Kalam", "open-sans";
  --color-arcticmist-50: oklch(99.1% 0.002 247.8);
  --color-arcticmist-100: oklch(97.8% 0.003 247.9);
  --color-arcticmist-200: oklch(95.2% 0.009 242.8);
  --color-arcticmist-300: oklch(92.0% 0.016 245.1);
  --color-arcticmist-400: oklch(85.8% 0.026 250.0);
  --color-arcticmist-500: oklch(78.6% 0.035 253.7);
  --color-arcticmist-600: oklch(69.6% 0.042 261.5);
  --color-arcticmist-700: oklch(60.4% 0.043 261.4);
  --color-arcticmist-800: oklch(50.9% 0.046 263.4);
  --color-arcticmist-900: oklch(41.0% 0.050 265.0);
  --color-arcticmist-950: oklch(31.1% 0.040 266.2);
  --color-charcoaldepths-50: oklch(97.9% 0.002 247.8);
  --color-charcoaldepths-100: oklch(92.4% 0.008 260.7);
  --color-charcoaldepths-200: oklch(81.7% 0.018 256.3);
  --color-charcoaldepths-300: oklch(66.5% 0.026 254.0);
  --color-charcoaldepths-400: oklch(54.0% 0.025 250.4);
  --color-charcoaldepths-500: oklch(42.7% 0.017 248.2);
  --color-charcoaldepths-600: oklch(35.8% 0.012 253.0);
  --color-charcoaldepths-700: oklch(30.0% 0.010 260.7);
  --color-charcoaldepths-800: oklch(24.7% 0.006 258.4);
  --color-charcoaldepths-900: oklch(20.9% 0.006 271.1);
  --color-charcoaldepths-950: oklch(17.2% 0.003 248.0);
  --color-crimsonglow-50: oklch(96.9% 0.011 10.3);
  --color-crimsonglow-100: oklch(93.3% 0.023 11.0);
  --color-crimsonglow-200: oklch(86.9% 0.040 17.9);
  --color-crimsonglow-300: oklch(76.3% 0.079 18.1);
  --color-crimsonglow-400: oklch(64.4% 0.131 19.7);
  --color-crimsonglow-500: oklch(57.1% 0.222 20.1);
  --color-crimsonglow-600: oklch(52.2% 0.203 20.1);
  --color-crimsonglow-700: oklch(46.9% 0.182 20.1);
  --color-crimsonglow-800: oklch(40.9% 0.158 20.1);
  --color-crimsonglow-900: oklch(34.3% 0.131 19.9);
  --color-crimsonglow-950: oklch(24.8% 0.092 17.3);
}

::selection {
  background-color: oklch(57.1% 0.222 20.1);
  color: oklch(99.1% 0.002 247.8);
}